.form{
    background-color: rgb(250, 235, 250);

}


.container{
    display: flex;
    margin: 60px auto;
    width: 65%  ;
    padding: 20px;
    height: 580px ;
    background-color: rgb(250, 235, 250);
    font-size: 10px;
    border: solid 1px rgb(250, 235, 250);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.leftside{
    border-right: solid 1px rgb(133, 23, 133) ;
    height: 600px;
    width: 780px ;

}
#heading{
    color:rgb(147, 9, 147) ;
    text-align: center;
    font-size: 44px;
    padding: 10px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;

}

.leftside img{
    height: 450px;
    width: 450px;

}

.rightside{
    height: 800px;
    width: 500px;
    padding: 40px;


}
#heading2{
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;

}
.rightside p{
    margin-top: 6px;
    margin-bottom: 22px;
    font-size: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.rightside input{
    padding: 8px;
    border-radius: 5px;
    border: solid 0.8px gray;
}
#names{
    display: flex;
    gap: 4px;
}
.name{
    display: block;
}
#names input{
    width:185px ;
    margin-top: 8px;
    margin-bottom: 10px;

}
.inputs{
    width:540px ;
    margin-top: 6px ;
    margin-bottom: 8px;
    padding: 6px;
    padding-left: 8px;
    height: 16px;


}
.details input{
    width: 400px;
}
.password{
    position: relative;
}
.confirm{
    position: relative;
}
.fa-eye{
    position: absolute;
    top: 20px;
    right: 6%;

}

#create_account{
    width: 420px;
    height:38px ;
    background-color: rgb(114, 13, 114);
    margin-top: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: white;


    
}
.option{
    text-align: center;
    font-size: 14px;

}

#signin{
    color: rgb(114, 13, 114);

}
.hr-lines{
    position: relative;
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
  }
  
  .hr-lines:before{
    content:" ";
    height: 0.08px;
    width: 196px;
    background: rgb(114, 13, 114);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }
  
  .hr-lines:after{
    content:" ";
    height: 0.08px;
    width: 196px;
    background: rgb(114, 13, 114);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }
  #or{
    font-size: 18px;
    color: rgb(41, 5, 41);
  }
  .icon{
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    font-size: 20px;
}
#facebook{
    border: solid 1px white;
    background-color: white;
    width: 48px;
    height: 24px;
    text-align: center;
    justify-content: center;
    color: cornflowerblue;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 10px;
    font-size: 24px;
}
#apple{
    border: solid 1px white;
    font-size: 28px;
    background-color: white;
    width: 48px;
    height: 24px;
    text-align: center;
    justify-content: center;
    color: black;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 25px ;
    padding-left: 25px;
    border-radius: 10px;

}
#google{
    border:solid  1px white;
    font-size: 20px;
    background-color: white;
    width: 48px;
    height: 26px;
    text-align: center;
    justify-content: center;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 10px;

}

  









